<div class="column is-9">
            <div class="content is-medium">
              <h3 class="title is-3"><%= title %></h3>
              <%= render(InfoBoxComponent.with_collection(info_boxes[section])) %>  
              
           