  <div class="message-body">
    <%= @info_box[:description] %>
    <ul>
      <% @info_box[:what_i_did].each do |what| %>
        <li><%= what %></li>
      <% end %>
    </ul> 
  </div>
</article>
<div class="level ">
    <div class="level-item has-text-centered">
      <a href=<%=info_box[:video]%> class="is-primary">
        <span>
            <i class="fas fa-video"></i>
        </span> 
        <span>Video Demo</span>
      </a>
    </div>
    <div class="level-item has-text-centered">
      <a href=<%=info_box[:github]%> class="is-active">
        <span>
            <i class="fab fa-github"></i>
        </span> 
        <span>GitHub Repo</span>
      </a>
    </div>
</div>

