<section class="hero is-primary">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">
              <h1 class="title is-1">Nico Roulston</h1>
              <h1 class="subtitle">Full Stack <em>Developer</em> </h1>
              <h3 class="subtitle">
              A jack of all trades is a master of none, but oftentimes better than a master of one
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3 ">
            <div class="is-medium menu sticky">
              <p class="menu-label">
                categories
              </p>
              <ul class="menu-list">
                <li ><a href="#about" class="is-active"><i class="far fa-address-card"></i></i> About</a></li>
                <li ><a href="#projects" class="is-active"><i class="fas fa-code"></i></i>  Projects</a></li>
                <li><a href="#resume" class="is-active"><i class="far fa-file-alt"></i></i> JSON Resume</a></li>
              </ul>
              <p class="menu-label">
                Links
              </p>
              <ul class="menu-list">
                <li><a href="#projects" class="tag is-white is-medium"> GitHub</a></li>
                <li><a href="#projects" class="tag is-white is-medium"></i> Blog</a></li>
                <li><a href="#projects" class="tag is-white is-medium"></i> bitSized Good</a></li>
               
              </ul>
            </div>
          </div>
          <div class="column is-9">
            <div class="box" id='intro-video'>
              <h4 id="const" class="title is-3">Video introduction</h4>
              <article class="message is-primary">
                <div class="message-body">
                  <iframe width="490" height="275" src="https://res.cloudinary.com/project1000hires/video/upload/v1604353331/Nico_Roulston_ea7df8be51.mp4" frameborder="0" allowfullscreen type="video/mp4"></iframe>
                </div>
              </article>
            </div>
            <div id='about'>
            <%= render(ContentSectionsComponent.new(section: :about, title: "Who is Nico? ¯\\_(ツ)_/¯"
            )) %>
            </div>
            <div id='projects'>
            <%= render(ContentSectionsComponent.new(section: :projects, title: "Projects |_|>"
            )) %>
            </div>
            
          <h3 class="title is-3">More to Come...</h3>
          <div class="box">
            <h4 id="lorem" class="title is-4">More to come...</h4>
            <article class="message is-primary">
              <span class="icon has-text-primary">
                <i class="fas fa-info-circle"></i>
              </span>
              <div class="message-body">
                Lorem ipsum dolor sit amet, mea ne viderer veritus menandri, id scaevola gloriatur instructior sit.
              </div>
            </article>
          <pre><code class="language-javascript">let i = 0;</code></pre>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>
<footer class="footer">

<hr>
<div class="columns is-mobile is-centered">
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons"><a class="tag is-link" href="https://github.com/BulmaTemplates/bulma-templates">Bulma Templates</a>
      <span class="tag is-info">MIT license</span>
    </div>
  </div>
  
</div>
</div>

</footer>


