<section class="hero is-primary">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">
              <h1 class="title is-1">Nico Roulston</h1>
              <h1 class="subtitle">Full Stack <em>Developer</em> </h1>
              <h3 class="subtitle">
              A jack of all trades is a master of none, but oftentimes better than a master of one
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3 ">
            <div class="is-medium menu sticky">
              <p class="menu-label">
                categories
              </p>
              <ul class="menu-list">
                <li class="is-right"><a href="#about" class="is-active"><i class="far fa-address-card"></i></i> About</a></li>
                <li><a href="#projects" class="is-active"><i class="fas fa-code"></i></i>  Projects</a></li>
                <li><a href="#resume" class="is-active"><i class="far fa-file-alt"></i></i> JSON Resume</a></li>
              </ul>
              <p class="menu-label">
                Links
              </p>
              <ul class="menu-list">
                <li><a href="#projects" class="tag is-white is-medium"> GitHub</a></li>
                <li><a href="#projects" class="tag is-white is-medium"></i> Blog</a></li>
                <li><a href="#projects" class="tag is-white is-medium"></i> bitSized Good</a></li>
               
              </ul>
            </div>
          </div>
          <div class="column is-9">
            <div class="box" id='intro-video'>
              <h4 id="const" class="title is-3">Video introduction</h4>
              <article class="message is-primary">
                <div class="message-body">
                  <iframe width="490" height="275" src="https://res.cloudinary.com/project1000hires/video/upload/v1604353331/Nico_Roulston_ea7df8be51.mp4" frameborder="0" allowfullscreen type="video/mp4"></iframe>
                </div>
              </article>
            </div>
            <div id='about'>
            <%= render(ContentSectionsComponent.new(section: :about, title: "Who is Nico? ¯\\_(ツ)_/¯"
            )) %>
            </div>
            
          <h3 class="title is-3">More to Come...</h3>
          <div class="box">
            <h4 id="lorem" class="title is-4">More to come...</h4>
            <article class="message is-primary">
              <span class="icon has-text-primary">
                <i class="fas fa-info-circle"></i>
              </span>
              <div class="message-body">
                Lorem ipsum dolor sit amet, mea ne viderer veritus menandri, id scaevola gloriatur instructior sit.
              </div>
            </article>
          <pre><code class="language-javascript">let i = 0;</code></pre>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>
<footer class="footer">
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <article class="notification media has-background-white">
          <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fas fa-columns fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Columns</h1>
              <p class="is-size-5 subtitle">
                The power of <strong>Flexbox</strong> in a simple interface
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fab fa-lg fa-wpforms"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Form</h1>
              <p class="is-size-5 subtitle">
                The indispensable <strong>form controls</strong>, designed for maximum clarity
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cubes"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Components</h1>
              <p class="is-size-5 subtitle">
                Advanced multi-part components with lots of possibilities
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-grey">
              <i class="fas fa-lg fa-cogs"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Modifiers</h1>
              <p class="is-size-5 subtitle">
                An <strong>easy-to-read</strong> naming system designed for humans
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-primary">
              <i class="fas fa-lg fa-warehouse"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Layout</h1>
              <p class="is-size-5 subtitle">
                Design the <strong>structure</strong> of your webpage with these CSS classes
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cube"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Elements</h1>
              <p class="is-size-5 subtitle">
                Essential interface elements that only require a <strong>single CSS class</strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<hr>
<div class="columns is-mobile is-centered">
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons"><a class="tag is-link" href="https://github.com/BulmaTemplates/bulma-templates">Bulma Templates</a>
      <span class="tag is-info">MIT license</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">based on a pen</span>
      <span class="tag has-addons is-warning"><a href="https://codepen.io/melanieseltzer/pen/odOXWM"><i class="fab fa-lg fa-codepen"></i></a></span>
    </div>
  </div>
</div>
</div>

</footer>


