 <div class="column is-9">
  <div class="box">
    <h4 id="lorem" class="title is-4">JSON Resume</h4>
    <article class="message is-primary">
      <span class="icon has-text-primary">
        <i class="fas fa-info-circle"></i>
      </span>
      <div class="message-body">
        Formatted for devolopers and adjustable for the masses. <%= link_to nil, "https://jsonresume.org" %> is a JSON-based standard for resumes. Check out mine below and what it can do.
      </div>
    </article>
    <pre class='columns is-mobile is-variable is-3'>
      <button class="column button is-info is-light" data-id="json" data-reflex="click->resume#json">JSON</button>
      <button class="column button is-info" data-id="short" data-reflex="click->resume#json"> Short Theme </button>
      <button class="column button is-info is-light" data-id="classy" data-reflex="click->resume#json"> Classy Theme </button>
      <button class="column button is-info" data-id="slick" data-reflex="click->resume#json"> Slick Theme </button>
    </pre>
  </div>
  <div id="resume" >
    <div class="box"> 
      I think this is awesome. I hope you do to. Stimulus Reflex will replace only this box reactively when you switch between the resume options. No refreshes!
    </div>
  </div>
  <%# <div class="box" > 
   <iframe .
    width="100%"
    height="350"    
    src="data:text/html;charset=utf-8,
    <head><base target='_blank' /></head>
    <body><script src='https://gist.github.com/Nroulston/76e5cc658063c66f2393eb961066bb52.js'></script>
    </body>">
  </div> %>
</div>